html{
    
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size:1em;
    line-height:1.25em;
    position:relative;
}

/*OUTLINE (alphabetized by theme)
 * 
 * BUTTONS
 * EDIT MOODLE
 * FLIP BOX FORMATTING
 * FORMATTING OF BOX CONTENTS
 * INPUTS
 * MISCELLANEOUS
 * PLUGIN STYLING (ex. jquery slider, color picker)
 * SPATIAL ELEMENTS
 * TEXT FORMATTING
 * 
 */

/*BUTTONS*/
button{
    display:block;
    border:none;
    padding: 0px;
    background-color: #394554;
    border:1px solid #3f4d5d;
    background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0));
    -webkit-transition: background-color 0.1s ease, border 0.1s ease;
    color: #FFFFFF;
    z-index: 999;
}

button:hover{
    background-color: #6c7d93;
    border:1px solid #74879e;
    text-shadow: 1px 1px 2px #000;
}

.miniButton {
    height:20px;
    width:20px;
    margin: 5px;
    font-size: 0.86em;
    padding-top:1px;
}

.editButton{
    opacity:0;
    -webkit-transition: opacity 0.2s ease;
}

.front:hover > .editButton{
    opacity:1; 
}


/*EDIT MOODLE*/
#editMoodle{
    display:none;
    width:270px;
    height:400px;
    background-color: rgba(27,45,60,0.95);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
    position:fixed;
    top:15px;
    right:10px;
    z-index:900;
    
    box-shadow: 0 5px 12px rgba(0,0,0, 0.3); 
    -webkit-box-shadow: 0 5px 12px rgba(0,0,0, 0.3); 
    -moz-box-shadow: 0 5px 12px rgba(0,0,0, 0.3); 
    -khtml-box-shadow: 0 5px 12px rgba(0,0,0, 0.3);
}

h2 {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(17,35,50,1.0);
    font-family: 'Josefin Sans', sans-serif;
    font-size:1em;
    line-height:1.6em;
    border-top: 1px solid #132737;
    border-bottom: 1px solid #10202e;
 
}

h3 { /*Moodle headings*/
    width: 100%;
    height: 25px;
    padding-left: 10px;
    background-color: rgba(17,35,50,1.0);
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.1em;
    line-height:1.6em;
    border-top: 1px solid #132737;
    border-bottom: 1px solid #10202e;
}

h3 a{
    color: #FFFFFF;
}

h3:hover{
    background-color: rgba(12,30,45,1.0);
}

.moodleSection{
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding:0px 10px 0px 10px;
    font-family: Josefin Sans, sans-serif;
    -webkit-transition:height 0.5s ease, padding 0.5s ease;
}

.moodleSection.visible{
    height:295px;
    padding:10px;  
    border-top: 1px solid #132737;
    border-bottom: 1px solid #10202e;
}

.instructions {
    font-family: Garamond, serif;
    font-size:0.9em;
    font-style: italic;
    color: #cbe2e8;
}

.withSpacing {
    margin-bottom:5px;
    padding-top:20px;
}

.icon {
    height:50px;
    width:50px;
    margin:6px;
    margin-top:0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(14,32,47,1.0);
    display:block;
    float:left;
}

.icon:hover{
    background-color: rgba(10,28,43,1.0);
}

.selectedIcon{
    background-color: rgba(10,28,43,1.0);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.25); 
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
    
}


/*FLIP BOX FORMATTING*/

.box {
    display:block;
    float:left;
    margin-bottom:10px;
    overflow:hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1.5s;
}

.box.flipped{
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate3d(0, 1, 0,180deg);
}


.front{
    -webkit-backface-visibility:hidden;
    height:100%;
    width:100%;
    position:absolute;
    
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    z-index:1000;
    /*box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -webkit-box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -moz-box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -khtml-box-shadow: 0 5px 12px rgba(0,0,0, 0.2);*/   
}

.back{
    -webkit-backface-visibility:hidden;
    height:100%;
    width:100%;
    padding:10px;
    position:absolute;
    
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    z-index:999;
    -webkit-transform: rotate3d(0, 1, 0,180deg);
    /*box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -webkit-box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -moz-box-shadow: 0 5px 12px rgba(0,0,0, 0.2); 
    -khtml-box-shadow: 0 5px 12px rgba(0,0,0, 0.2);*/
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight:600;    
    display:block;
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    left:0;    
    line-height:10px;
}

.details{
    
}

/*FORMATTING OF BOX CONTENTS*/

.tileIcon{
    display:block;
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    left:0;    
    font-size:50px;
    line-height:10px;
    color:white;
    /*text-shadow:3px 3px 0px rgba(0,0,0,0.2);*/
}

/*INPUTS*/

input[type="button"]{
    z-index:999;
    position:absolute;
    top:3px;
    left:175px;
    
}

input[type="hidden"]{
    display:block;
    float:left;
}

input[type="text"]{
    height:20px;
    margin-top:5px;
}

input[type="radio"]{
    margin-top:10px;
}

.radioIndent { 
    display:inline-block;
    margin-left: 20px; 
    margin-top: -20px;
}

label {
    display:inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

#picker > label {
    padding-top:6px;
    margin-right:20px;
}

textarea {
    width:250px;
    height:180px;
    position:absolute;
    left:10px;
    bottom:10px;
    margin-right:10px;
}

/*MISCELLANEOUS*/

.floatRight{
    float:right;
    margin-left:0px;
}

.floatLeft{
    float:left;
    margin-right:0px;
}

/*PLUGIN STYLING*/

.miniColors-trigger{
    height:20px;
    width:20px;
    margin-top:-3px;
}

header .miniColors-trigger{
    margin-top:-8px;
    margin-left:5px;
}

.slider {
    width:100%;
    height:20px;
    display:block;
    float:left;
}

.ui-slider{
    width:190px;
    height:4px;
    margin-top:8px;
    display:block;
    float:right;
}

.ui-slider .ui-slider-handle{
    width: 0.75em;
    height: 0.75em;
}

#widthSlider{
}

#heightSlider{
}


/*SPATIAL ELEMENTS*/

#container{
    width:100%;
    display:block;
    float:left;
    margin:10px;
}

header{
    height:30px;
    width:100%;
    display:block;
    float:left;
    background-color: rgba(14,32,47,1.0);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    color: #FFF;
    
}

#topBar{
    width:100%;
    display:block;
    float:left;
}

#toolbar{ /*temporary*/
    width:50%;
    display:block;
    float:left;
}

/*TEXT FORMATTING*/

h1 {/*Massive headings*/
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left:5px;
    font-size: 1.4em;
    line-height:1.25em;
    color: #394554;
    display:inline-block;
}

/*h2 and h3 are used in the edit moodle*/

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.1em;
}

p {
    display:inline-block;
    clear:both;
}

