html{
    
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    color: #FFFFFF;
    font-family:'Lora', serif;
    font-size:0.75em;
    line-height:1.25em;
    position:relative;
}

/*OUTLINE:
 * 1. Containers
 * 2. Text and link formatting
 * 3. Flip box formatting 
 * 4. Toolbar
 * 5. Editing panel
 * 6. Buttons and inputs
 */

/*1. CONTAINERS*/

#container{
    width:100%;
    padding:10px;
    display:block;
    float:left;
    border-top:1px solid black;
}

/*2. TEXT, HEADER AND LINK FORMATTING*/
h1 {/*Massive headings*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    line-height:1em;
    color: #000;
}

h4 { /*Tile headings, ex. "Currently Reading"*/
    font-family: 'Lora', serif;
}

h5 {/*Section headings on tiles, ex. "How to throw a shrimp boil"*/
    font-family: 'Lora', serif;
}

/*3. FLIP BOX FORMATTING*/


.box {
    display:block;
    float:left;
    margin-bottom:10px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1.5s;
    border:1px solid black;
}

.box.flipped{
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate3d(0, 1, 0,180deg);
}


.front{
    -webkit-backface-visibility:hidden;
    height:100%;
    width:100%;
    position:absolute;
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    z-index:1000;
}
/* HELD IN CASE OVERLAY IS DESIRED
.front:after{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
}*/

.back{
    -webkit-backface-visibility:hidden;
    height:100%;
    width:100%;
    padding:10px;
    position:absolute;
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    z-index:999;
    -webkit-transform: rotate3d(0, 1, 0,180deg);
}

/*HELD IN CASE OVERLAY IS DESIRED
.back:after{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
}*/

/*4. TOOLBAR*/
#topBar{
    width:100%;
    display:block;
    float:left;
}

#toolbar{
    width:50%;
    display:block;
    float:left;
}


/*5. EDITING PANEL*/

#editMoodle{
    width:275px;
    background-color: rgba(27,45,60,0.9);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    display:block;
    float:left;
}

#firstHeading{
    font-size:1.4em;
}

.moodleHeading{
    width: 100%;
    height: 24px;
    padding-left: 10px;
    background-color: rgba(27,45,60,1.0);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;  
    line-height:22px;
}

.moodleSection{
    width: 100%;
    padding:10px;
}

.instructions {
    font-family: Garamond, serif;
    font-style: italic;
    margin-bottom:10px;
    padding-top:15px;
    clear:both;
}

.slider {
    width:100%;
    height:20px;
    display:block;
    float:left;
}

.ui-slider{
    width:195px;
    height:4px;
    margin-top:8px;
    display:block;
    float:right;
}

.ui-slider .ui-slider-handle{
    width: 0.75em;
    height: 0.75em;
}

#widthSlider{
    
}

#heightSlider{
    
}


/*BUTTONS AND INPUTS*/

input[type="hidden"]{
    display:block;
    float:left;
}


label {
    display:block;
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

#picker > label {
    padding-top:10px;
    margin-right:25px;
}


