<!doctype html>
<head>
	<title>Boxy</title>
	<!--STYLE SHEETS-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<!--FONTS-->
	
	<!--SCRIPTS-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueery.masonry.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/json3.min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/models.js"></script> 
	
	<script type="text/javascript">
		$(function(){
			$("#container").on("click", ".box", function(e){
				$(this).toggleClass("flipped");
			})
		});
	</script>
	
	<script type="text/javascript">
		$(function(){
  			$('#container').masonry({
    			itemSelector : '.box',
    			animationOptions: {
    				duration: 400
  				},
  				isAnimated: true,
    			columnWidth : 100,
    			gutterWidth: 10
  			});
		});
	</script>
	
	
</head>

<body>

<input type="text" id="specifyTitle" placeholder="Name your box"/>
<input type="button" id="addSmall" value="Add Small Box"/>
<input type="button" id="addTall" value="Add Tall Box"/>
<input type="button" id="addWide" value="Add Wide Box"/>


<div id="container">

</div>


<script type="text/template" id="boxViewTemplate">
		<div class="front">
			<%= icon %>
		</div>
		<div class="back">
			<%= details %>
		</div>
</script>

</body>
</html>