extends ../layouts/default

append js
    script(type="text/javascript", src="/js/models.js")

prepend header
    if isOwner
        button#addBox.miniButton.floatLeft
            i.icon-plus
        #saveIndicator.floatLeft
            i.icon-save
        input#groutColorPicker.color-picker(type="hidden", size="6", autocomplete="on", maxlength="10")

block content
    if isOwner
        //Edit panel
        section#editMoodle
            #handle
                button.miniButton.floatRight.closeMoodle
                    i.icon-remove-sign
                button.miniButton.floatRight.removeButton
                    i.icon-trash
    
            //PICK THE TYPE OF YOUR TILE
            //h3        
            //    a(href="#") Type
            //.moodleSection
            //    h4 basic tiles
            //    input#flipcard(type="radio", name="tileType", checked)
            //    .radioIndent
            //        label(for="flipcard") flipcard (default):
            //        span.instructions Pick an icon for the front and tell the story on the back to keep your profile clutter free.
            //    h4.withSpacing social tiles
            //    input(type="radio", name="tileType", value="twitter", onclick="this.checked=false;alert('Sorry, social tiles are not quite ready.')")
            //    .radioIndent
            //        label(for="twitter") twitter:
            //        span.instructions Shows users your recent tweets and makes following you a snap.
    
            //    input(type="radio", name="tileType", value="pictures", onclick="this.checked=false;alert('Sorry, social tiles are not quite ready.')")
            //    .radioIndent
            //        label(for="pictures") photo viewer :
            //        span.instructionsCycles through the five most resent uploads to your flickr or instagram.
    
            //PICK TILE SIZE, COLOR, AND ICON
            h3.visible
                a(href="#") Appearance
                    .icon &#xf0da
            .moodleSection.visible
                p.instructions Pick a color for your tile.
                #picker
                    label color:
                    input#boxColorPicker.color-picker(type="text", size="6", autocomplete="on", maxlength="10")
                p.instructions.withSpacing Pick the width and height of your tile.
                .slider
                    label(for="amount") width:
                    input#widthValue(type="hidden")
                    #widthSlider.ui-slider
                .slider
                    label(for="amount") height:
                    input#heightValue(type="hidden")
                    #heightSlider.ui-slider
                p.instructions.withSpacing Leave icon blank to write on front of card.
                section#iconScroll
                    .icon.selectedIcon(data-icon="")
                    //TODO: generate these dynamically in the controller
                    //- var icons = ["&#0065;", "&#0066;", "&#0067;", "&#0068;", "&#0069;", "&#0070;", "&#0071;"]                
                    //- var icons = [0xf000,0xf001,0xf002,0xf003,0xf004,0xf005,0xf006,0xf007,0xf008,0xf009,0xf00a,0xf00b,0xf00c,0xf00d,0xf00e,0xf010,0xf011,0xf012,0xf013,0xf014,0xf015,0xf016,0xf017,0xf018,0xf019,0xf01a,0xf01b,0xf01c,0xf01d,0xf01e,0xf020,0xf021,0xf022,0xf023,0xf024,0xf025,0xf026,0xf027,0xf028,0xf029,0xf02a,0xf02b,0xf02c,0xf02d,0xf02e,0xf02f,0xf030,0xf031,0xf032,0xf033,0xf034,0xf035,0xf036,0xf037,0xf038,0xf039,0xf03a,0xf03b,0xf03c,0xf03d,0xf03e,0xf040,0xf041,0xf042,0xf043,0xf044,0xf045,0xf046,0xf047,0xf048,0xf049,0xf04a,0xf04b,0xf04c,0xf04d,0xf04e,0xf050,0xf051,0xf052,0xf053,0xf054,0xf055,0xf056,0xf057,0xf058,0xf059,0xf05a,0xf05b,0xf05c,0xf05d,0xf05e,0xf060,0xf061,0xf062,0xf063,0xf064,0xf065,0xf066,0xf067,0xf068,0xf069,0xf06a,0xf06b,0xf06c,0xf06d,0xf06e,0xf070,0xf071,0xf072,0xf073,0xf074,0xf075,0xf076,0xf077,0xf078,0xf079,0xf07a,0xf07b,0xf07c,0xf07d,0xf07e,0xf080,0xf081,0xf082,0xf083,0xf084,0xf085,0xf086,0xf087,0xf088,0xf089,0xf08a,0xf08b,0xf08c,0xf08d,0xf08e,0xf090,0xf091,0xf092,0xf093,0xf094,0xf095,0xf096,0xf097,0xf098,0xf099,0xf09a,0xf09b,0xf09c,0xf09d,0xf09e,0xf0a0,0xf0a1,0xf0a2,0xf0a3,0xf0a4,0xf0a5,0xf0a6,0xf0a7,0xf0a8,0xf0a9,0xf0aa,0xf0ab,0xf0ac,0xf0ad,0xf0ae,0xf0b0,0xf0b1,0xf0b2,0xf0c0,0xf0c1,0xf0c2,0xf0c3,0xf0c4,0xf0c5,0xf0c6,0xf0c7,0xf0c8,0xf0c9,0xf0ca,0xf0cb,0xf0cc,0xf0cd,0xf0ce,0xf0d0,0xf0d1,0xf0d2,0xf0d3,0xf0d4,0xf0d5,0xf0d6,0xf0d7,0xf0d8,0xf0d9,0xf0da,0xf0db,0xf0dc,0xf0dd,0xf0de,0xf0e0,0xf0e1,0xf0e2,0xf0e3,0xf0e4,0xf0e5,0xf0e6,0xf0e7,0xf0e8,0xf0e9,0xf0ea,0xf200];
                    //each icon in icons
                        
            
            //WRITE ON THE TILE
            h3                
                a(href="#") Content
                    .icon &#xf0da
            .moodleSection
                span.instructions.withSpacing Pick a title if you're using no icon.
                input#textOnFront(type="text", placeholder="title")
                br
                span.instructions.withSpacing Write on the back of your tile.
                br
                textarea#textOnBack
                span.instructions.withSpacing Include a link (optional).
                input#linkOnBack(type="text", placeholder="http://www.yoursite.com")
    //End edit panel
    
    //USER BOXES
    #container_wrapper
        #container

    //TEMPLATES
    script#boxViewTemplate(type="text/template")
        | <button class="miniButton editButton floatRight"><i class="icon-wrench"></i></button>
        | <div class="front">
        |     <div class="title"><%= title %></div>
        |     <div class="tileIcon"><% if(icon != ""){ %>&#<%= icon %>;<% }%></div>
        | </div>
        | <div class="back">
        |     <div class="details"></div>
        |     <div class="link">
        |         <a href= "<%= (link.indexOf('http') == 0) ? link : 'http://' + link %>"></a>
        |     </div>
        | </div>

block tooltips
    //Tooltips
    //TODO: Make this more elegant
    .tooltip#tooltipPlus
        | Click the <b>+</b> to get started