extends ../layouts/default

append js
    script(type="text/javascript", src="/js/models.js")

block content
    
    //Edit panel
    section#editMoodle
        #handle
        button.miniButton.floatRight.closeMoodle
            i.icon-remove-sign
        button.miniButton.floatRight.removeButton
            i.icon-trash

        //PICK THE TYPE OF YOUR TILE
        h3        
            a(href="#") Type
        .moodleSection
            h4 basic tiles
            input#flipcard(type="radio", name="tileType", checked)
            .radioIndent
                label(for="flipcard") flipcard (default):
                span.instructions Pick an icon for the front and tell the story on the back to keep your profile clutter free.
            h4.withSpacing social tiles
            input(type="radio", name="tileType", value="twitter", onclick="this.checked=false;alert('Sorry, social tiles are not quite ready.')")
            .radioIndent
                label(for="twitter") twitter:
                span.instructions Shows users your recent tweets and makes following you a snap.

            input(type="radio", name="tileType", value="pictures", onclick="this.checked=false;alert('Sorry, social tiles are not quite ready.')")
            .radioIndent
                label(for="pictures") photo viewer :
                span.instructionsCycles through the five most resent uploads to your flickr or instagram.

        //PICK TILE SIZE, COLOR, AND ICON
        h3
            a(href="#") Appearance
        .moodleSection.visible
            p.instructions Pick a color for your tile.
            #picker
                label color:
                input#boxColorPicker.color-picker(type="text", size="6", autocomplete="on", maxlength="10")
            p.instructions.withSpacing Pick the width and height of your tile.
            .slider
                label(for="amount") width:
                input#widthValue(type="hidden")
                #widthSlider.ui-slider
            .slider
                label(for="amount") height:
                input#heightValue(type="hidden")
                #heightSlider.ui-slider
            p.instructions.withSpacing Leave icon blank to write on front of card.
            .icon.selectedIcon(data-icon="")
            //TODO: generate these dynamically in the controller
            - var icons = ["&#0065;", "&#0066;", "&#0067;", "&#0068;", "&#0069;", "&#0070;", "&#0071;"]
            each icon in icons
                .icon(data-icon=icon)
                    .tileIcon #{icon}
        
        //WRITE ON THE TILE
        h3
            a(href="#") Content
        .moodleSection
            span.instructions.withSpacing Pick a title if you're using no icon.
            input#textOnFront(type="text", placeholder="title")
            br
            span.instructions.withSpacing Write on the back of your tile.
            br
            textarea#textOnBack
            span.instructions.withSpacing Include a link (optional).
            input#linkOnBack(type="text", placeholder="http://www.yoursite.com")

    //USER BOXES
    #container

    //TEMPLATES
    script#boxViewTemplate(type="text/template")
        | <div class="front">
        |     <button class="miniButton editButton floatRight"><i class="icon-wrench"></i></button>
        |     <div class="title"><%= title %></div>
        |     <div class="tileIcon"><%= icon %></div>
        | </div>
        | <div class="back">
        |     <div class="details"><%= details %></div>
        |     <div class="link">
        |         <a href= ""></a>
        |     </div>
        | </div>