<!doctype html> <!--ACKNOWLEDGEMENTS:
Boxy makes use of the the following plugins: JQuery Masonry, miniColors, dragable, and slider.
ColorPicker icon by Yusuke Kamiyamane (all rights reserved). Mentorship provided by Seth Samuel.
-->

<head>
	<title>Boxy</title>
	<!--STYLE SHEETS-->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="css/jquery.miniColors.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome-ie7.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<!--FONTS-->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Josefin+Sans:400,600'>
	<!--SCRIPTS-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/jquery.miniColors.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/json3.min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/models.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
</head>
<body>
	<header>
	<button class="miniButton floatLeft" id="addBox"><i class="icon-plus"></i></button>
	<input type="hidden" class="color-picker" id="groutColorPicker" size="6" autocomplete="on" maxlength="10" />
	<h1>Boxy Version 1.0</h1>
	<button class="longTextButton floatRight" id="logInSignUpButton">log in | sign up</button>
	</header>

	<!--POPUP TO LOG IN OR SIGN UP-->
	<div id="pageDimmer"></div>
	<section class="popup" id="logInSignUp">
		<div class="halfWidthColumn">
			<div class="fancyBlock">
				new user
			</div>
			<input type="text" id="newUsername">
			<label for="newUsername">username: </label>
			<br />
			<input type="text" id="email">
			<label for="email">email: </label>
			<br />
			<input type="text" id="reEmail">
			<label for="reEmail">re-enter email: </label>
			<br />
			<input type="password" id="newPassword">
			<label for="newPassword">password: </label>
			<br />
			<input type="password" id="rePassword">
			<label for="rePassword">re-enter password: </label>
			<br />
			<button class="shortTextButton floatRight" id="signUp">sign up</button>
		</div>
		<div class="halfWidthColumn">
			<div class="fancyBlock">
				old user
			</div>
			<div class="instructions">
				Welcome back, you old dog.
			</div>
			<br />
			<input type="text" id="existingUsername">
			<label for="existingUsername">username: </label>
			<br />
			<input type="password" id="existingPassword">
			<label for="existingPassword">password: </label>
			<br />

			<button class="shortTextButton floatRight" id="logIn">log in</button>
		</div>
	</section>




	<!--EDIT MOODLE-->
	<section id="editMoodle">
		<div id="handle">
		<button class="miniButton floatRight closeMoodle"><i class="icon-remove-sign"></i></button>
		<button class="miniButton floatRight removeButton"><i class="icon-trash"></i></button>
		</div>

		<!--<div id="labeler">
		<input type="text" id="specifyTitle"placeholder="Name your box"/>
		<br />
		</div> -->

		<!--PICK THE TYPE OF YOUR TILE-->
		<h3><a href="#">Type</a></h3>
		<div class="moodleSection">

			<h4>basic tiles</h4>
			<input type="radio" name="tileType" id="flipcard" checked/>
			<div class="radioIndent">
				<label for="flipcard">flipcard (default):</label>
				<span class="instructions">Pick an icon for the front and tell
					the story on the back to keep your profile clutter free.</span>
			</div>
			<!--
			<input type="radio" name="tileType" value="static" />
			<div class="radioIndent">
				<label for="static">static: </label>
				<span class="instructions">One sided so it doesn't flip. Great for quotations and
					mini badges.</span>
			</div>
			-->
			<h4 class="withSpacing">social tiles</h4>
			<input type="radio" name="tileType" value="twitter" onclick="this.checked=false;
			alert('Sorry, social tiles are not quite ready.')"/>
			<div class="radioIndent">
				<label for="twitter">twitter: </label>
				<span class="instructions">Shows users your recent tweets and makes following you
					a snap.</span>
			</div>

			<input type="radio" name="tileType" value="pictures" onclick="this.checked=false;
			alert('Sorry, social tiles are not quite ready.')"/>
			<div class="radioIndent">
				<label for="pictures">photo viewer : </label>
				<span class="instructions">Cycles through the five most resent uploads to your
					flickr or instagram.</span>
			</div>

		</div>
		<!--PICK TILE SIZE, COLOR, AND ICON-->
		<h3><a href="#">Appearance</a></h3>
		<div class="moodleSection visible">
			<p class="instructions">
				Pick a color for your tile.
			</p>
			<div id="picker">
				<label>color:</label>
				<input type="text" class="color-picker" id="boxColorPicker" size="6" autocomplete="on" maxlength="10" />
			</div>
			<p class="instructions withSpacing">
				Pick the width and height of your tile.
			</p>
			<div class="slider">
				<label for="amount">width:</label>
				<input type="hidden" id="widthValue"/>
				<div class="ui-slider" id="widthSlider"></div>
			</div>
			<div class="slider">
				<label for="amount">height:</label>
				<input type="hidden" id="heightValue"/>
				<div class="ui-slider" id="heightSlider"></div>
			</div>
			<p class="instructions withSpacing">
				Leave icon blank to write on front of card.
			</p>
			<div class="icon selectedIcon" data-icon=""></div>
			<div class="icon" data-icon="&#0065;" ><div class="tileIcon">&#0065;</div></div>
			<div class="icon" data-icon="&#0066;" ><div class="tileIcon">&#0066;</div></div>
			<div class="icon" data-icon="&#0067;" ><div class="tileIcon">&#0067;</div></div>
			<div class="icon" data-icon="&#0068;" ><div class="tileIcon">&#0068;</div></div>
			<div class="icon" data-icon="&#0069;" ><div class="tileIcon">&#0069;</div></div>
			<div class="icon" data-icon="&#0070;" ><div class="tileIcon">&#0070;</div></div>
			<div class="icon" data-icon="&#0071;" ><div class="tileIcon">&#0071;</div></div>
		</div>
		<!--WRITE ON THE TILE-->
		<h3><a href="#">Content</a></h3>
		<div class="moodleSection">

			<span class="instructions withSpacing">Pick a title if you're using no icon.</span>
			<input type="text" id="textOnFront"placeholder="title"/>
			<br />

			<span class="instructions withSpacing">Write on the back of your tile.</span><br />
			<textarea id="textOnBack">  </textarea>

			<span class="instructions withSpacing">Include a link (optional).</span>
			<input type="text" id="linkOnBack"placeholder="http://www.yoursite.com"/>


		</div>
	</section>
	<!--USER BOXES-->
	<div id="container">
	</div>
	<!--TEMPLATES-->
	<script type="text/template" id="boxViewTemplate">
		<div class="front">
			<button class="miniButton editButton floatRight"><i class="icon-wrench"></i></button>
			<div class="title"><%= title %></div>
			<div class="tileIcon"><%= icon %></div>
		</div>
		<div class="back">
			<div class="details"><%= details %></div>
			<div class="link">
				<a href= ""></a>
			</div>
		</div>
	</script>
