extends layouts/default

block content
    section#splash
        h2 Boxy is boxyness, boxified
        h2 Join today or explore
        form#splash_form(action="/join", method="post")
            .input_wrapper
                input#join_username(type="text", name="username", placeholder="username", data-validate-required="true")
            .input_wrapper
                input#splash_email(type="email", name="email", placeholder="email", data-validate-required="true")
            .input_wrapper
                input#splash_password(type="password", name="password", placeholder="password", data-validate-required="true")
            input.button(type="submit", value="Join!")
