extends layouts/default

block content
    if req.user
        h1 Hello #{req.user}, welcome back
    section(style="background-color:black;width: 280px;margin:10px auto;padding:10px;")
        h2 Boxy is boxyness, boxified
        h2 Join today or explore        
