doctype 5
html
    head
        block head
            include ../includes/head
    body
    #pageDimmer
    header
        block header
            //a(href="/")
            //    h1 Boxy Version 1.0
            if req.user
                #welcomeUser
                    | Welcome back 
                    a(href="/" + req.user.username) #{req.user.username}
                    | ! (
                    a(href="/logout") logout
                    | )
            else
                button#logInSignUpButton.longTextButton.floatRight log in | sign up
        //POPUP TO LOG IN OR SIGN UP
        section#logInSignUp.popup
            .halfWidthColumn
                .fancyBlock new user
                form#joinForm(action="/join", method="post")
                    .input_wrapper
                        input#newUsername(type="text", name="username", data-validate-required="true")
                        label(for="newUsername") username:
                    .input_wrapper
                        input#newEmail(type="email", name="email", data-validate-required="true")
                        label(for="email") email:
                    .input_wrapper
                        input#reEmail(type="email", data-validate-match="newEmail")
                        label(for="reEmail") re-enter email:
                    .input_wrapper
                        input#newPassword(type="password", name="password", data-validate-required="true")
                        label(for="newPassword") password:
                    .input_wrapper
                        input#rePassword(type="password", data-validate-match="newPassword")
                        label(for="rePassword") re-enter password:
                    button#signUp.shortTextButton.floatRight sign up
            .halfWidthColumn
                .fancyBlock old user
                .instructions Welcome back, you old dog.
                br
                form#loginForm(action="/login", method="post")
                    .input_wrapper
                        input#existingUsername(type="text", name="username", data-validate-required="true")
                        label(for="existingUsername") username:
                    .input_wrapper
                        input#existingPassword(type="password", name="password")
                        label(for="existingPassword") password:
                    button#logIn.shortTextButton.floatRight log in
    block content